---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #FFF;
$background-color: #FFF;
$brand-color:      #FFF;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

* {
	font-family: Helvetica, Arial, sans-serif;
}

a,a:hover {
	text-decoration: none;
	color: #FFF;
}

.logo {
	width: 300px;
	margin: 15px 0 0 15px;
}

span.staff {
	display: block;
}

.name {
	
}

span.staff:first-child{
	margin: 10px;
	
}

ul.staff-list {
  margin: 0 auto;
  text-align: center;
	list-style-type: none;
}

li.staff {
  display: inline-block;
  vertical-align: top;
	
}

.wrapper {
	width: 1050px;
	margin: auto;
}

.site-header {
	width: 1050px;
	margin: auto;
}

.menu-list {
	list-style-type: none;
	padding: 0;
	background-color: #9e9e9e;
	color: #FFF;
	padding: 20px;
}

.menu-list li {
	display: inline;
	margin: 0 10px;
	padding: 10px;
}

.menu-list li:hover {
	background-color:  #f44336;
}

.under-construction {
	margin: auto;
}

.staff-image {
	margin-top: 5px;
}

.big-picture {
	width: 100%;
	height: 340px;
	background-color: #424242;
	
}

footer {
	width: 1050px;
	text-align: center;
	margin: auto;
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
