---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #FFF;
$brand-color:      #FFF;

$link-color: #000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

* {
	font-family: "AppleSDGothicNeo","AppleSDNeoGothic","맑은 고딕","Malgun Gotihc", Helvetica, Arial, sans-serif;
}

header.site-header {
	height: 100%;
	margin-bottom: 10px;
}

.post-content {
	line-height: 1.5em;
	color: #424242;
}

.post-content h1 {
	margin-bottom: 10px;
	color: #212121;
}

a,a:hover {
	text-decoration: none;
	color: $link-color
}

.logo {
	width: 35%;
	margin: 15px 0 0 45px;
	display: inline;
	
}

p {
	margin: 0;
}

p.second {
	font-size: 20px;
	color: #FFF;
}

.big-picture {
	padding-left: 50px;
}

h1.hello {
	color: #FFF;
	margin: 0;
	font-size: 50px;
	padding-top: 60px;
}

.title {
	font-size: 14px;
}

span.staff:first-child{
	margin: 10px;
	
}

ul.staff-list {
  margin: 0 auto;
	list-style-type: none;
}

li.staff {
  display: block;	
}

.staff.title {
	display: block;
	left: 155px;
	font-size: 15px;
	
}

.name {
	display: inline-block;
	font-size: 25px;
	
}

span.staff {
	position: relative;
	top: -130px;
}

.wrapper {
	width: 950px;
	margin: auto;
}

.site-header {
	width: 1050px;
	margin: auto;
}

hr {
  background: transparent url("/assets/images/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; 
}

.menu {
	display: inline;
	min-height: 300px !important;
}

.menu-list {
	position: relative;
	list-style-type: none;
	padding: 0;
	margin: 0;	
	display: inline-block;
	color: $text-color;
  top: -20px;
	
	/*
	position: absolute;
	top: 50px;
	right: 230px;
	*/
}

footer p{
	font-size: 14px;
	margin-top: 15px;
}

.menu-list li {
	display: inline;
	border-bottom: 2px solid #616161;
	padding-bottom: 1px;
	margin: 0 10px;
}

.post {
	width: 850px;
	padding: 0;
	line-height: 18px;
	margin: auto;
}

.menu-list li:hover {
	border-bottom: 2px solid #F44336;
}

p.mailing {
	margin-top: 10px;
}

#mce-EMAIL {
	font-size: 16px;
}


.under-construction {
	margin: auto;
}

.staff-image {
	margin-top: 5px;
	display: inline;
}

.big-picture {
	height: 340px;
	background-color: #616161;
	
}

.big-picture-inner {
	width: 800px;
	
}

footer {
	width: 1050px;
	text-align: center;
	margin: auto;
}


#mc_embed_signup {
	background-color: #616161;
	width: 500px;
	height: 100px;
	color: #FFF;
	margin-top: 1px;
	padding: 0;
}
#mc-embedded-subscribe-form	{
	padding: 0 !important;
	margin: 0;
}

#mc_embed_signup label {
	font-size: 20px !important;
	font-weight: normal !important;
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
/*
@media (max-width: $on-palm) {
	.wrapper {
		width: 100%;
		font-size: 10px;
	}
	
	.logo {
		width: 300px;
	}
	
	h1.hello {
		font-size: 20px;
		
	}
	
	 p.second {
		font-size: 15px;
		
	}
	
	.site-header {
		width: 300px;
		min-height: 200px;
	}
	
	#mc_embed_signup {
		width: 30%;
		
	}
	
	ul.menu-list {
		position: absolute;
		list-style-type: none;
		padding-top: 30px;
		display: block;
		color: $text-color;
	}
	
	.menu-list li {
		display: block;
	}
	
	footer {
		width: 300px;
		
	}
}
*/
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
